/* 
포지션
position

영역
width, height, padding, margin

모양
border, border-radius, box-shadow

색상
background-color

폰트
color, font-size, font-weight

etc.
z-index, 
transform
-webkit-transform
-o-transform
-moz-transform
*/
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2');
    src: url('https://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


/* body */
body{
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
}

#gnb{
    float:left;
    width: 120px;
    background-color: #4a4955;
}
/* css 선언 #gnb(가장 큰 부모)기준으로 해주세요 */
/* 
A-2.
#gnb .in{
    padding-top: 220px;
    width: 120px;
    text-align: center;
} */
#gnb .in{
    padding-top: 225px;
    padding-bottom: 230px; 
    width: 120px;
    text-align: center;
}

#gnb .in .menubar{
    margin: 0 25px;
}

#gnb .in .menubar .menu{
}

#gnb .in .menubar .menu:first-child .image{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.15);
}
#gnb .in .menubar .menu:first-child .inner img{
    padding-top: 18px;
}

#gnb .in .menubar .menu .inner a{
    display: block;
    height: 85px;
    margin-bottom: 50px;
    font-size: 0;
    text-decoration: none;
}

#gnb .in .menubar .menu:last-child .inner a{
    margin-bottom: 0px;
}
#gnb .in .menubar .menu .inner a .title{
    width:70px;
    height: 27px;
    margin-top: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

#gnb .in .menubar .menu:first-child .inner a .title{
    margin-top: -2px;
}

#lnb{
    float: left;
    overflow:hidden;
    width: 365px;
    height: 1080px;
    background-color: #ffffff;
}

#lnb .home_btn{
    margin: 32px 25px 0;
    width: 315px;
    height: 112px;
    border-radius:56px;
    border: none;
    outline: 0 ;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #eb1313;
}

#lnb .home_btn .inner{
    margin-left: 30px;
    text-align: left;
    font-size: 0;
}

#lnb .home_btn .inner .image, #lnb .home_btn .inner .txt{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    vertical-align:middle;
}

#lnb .home_btn .inner .image img{
    line-height: 50px;
    vertical-align:middle;
}

#lnb .home_btn .inner .txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-left:27px;
}

#lnb .menubar{
    margin-top: 78px;
    margin-left: 56px;
}

#lnb .menubar .menu{    
    margin-bottom: 53px;
}
#lnb .menubar .menu .btn{
    height: 40px;
    line-height: 40px;
    font-size: 0;
    border: none;
    outline: 0 ;
    cursor: pointer;
    background: transparent;
}

#lnb .menubar .menu .btn .image,
#lnb .menubar .menu .btn .title{
    display: inline-block;
    vertical-align: middle;
}

#lnb .menubar .menu .btn .image img{
    vertical-align: middle;
}

#lnb .menubar .menu .btn .title{
    margin-left: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

#contents{
    float: left;
    width: 1435px;
    /* height: 1080px; */
    overflow: hidden;
    font-size: 0;
}

#contents .video img{
    width: 1435px;
    height: 720px;
}

/* order */
#contents .order{
    width: 1435px;
    background-color: #656474;
}

/* 
A-3. 
css 작성 하실 때 button, a, text 등 추후 업데이트 시에도 확실한 고정값을 가진 element 제외하고, 
gnb, order, lnb, banner 등 다른 element는 height 값 안 주고 하시는거 해볼게요
*/
#contents .order .inner{
    overflow: hidden;
    padding: 22px 0 23px;
}
#contents .order .inner::after{
    content: '';
    display: block;
    clear: both;
}

#contents .order .inner .btn{
    float:left;
    margin-left: 70px;
    width: 225px;
    height: 60px;
    border-radius: 38px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #f0f0f0;
    border: none;
    outline: 0 ;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 29px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #4c4c4c;
}

#contents .order .inner .review{
    float: left;
    margin-left: 36px;
    width: 644px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle; 
    border-radius: 68px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f0f0f0;
}

#contents .order .inner .review img, #contents .order .inner .review .title,
#contents .order .inner .review .slide {
    float: left;
}

#contents .order .inner .review img{
    margin-left: 34px;
    margin-top: 19px;
}

#contents .order .inner .review .title{
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #4c4c4c;
}

#contents .order .inner .review .slide{
    margin-left: 36px;
    width: 412px;
}

#contents .order .inner .review .text{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: -1.35px;    
    color: #808080;
}

#contents .order .inner .call{
    float: left;
    width: 390px;
    margin-left: 36px; 
}

#contents .order .inner .call .txt{
    float:left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    color: #ffffff;
}
#contents .order .inner .call .slide{
    float: right;
    width: 300px;
    margin-left: 20px;
}
#contents .order .inner .call .num{    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 60px;
    color: #ffffff;
}

#contents .banner{
    width: 1435px;
    background-image: linear-gradient(to right, #1042af 2%, #0d1953 76%);
}

#contents .banner::after{
    content: '';
    display: block;
    clear: both;
}

#contents .banner .tit{
    float:left;
    width: 260px;
    padding-top: 50px;
    margin-left:  48px;
}

#contents .banner .tit .title{
    font-family: NanumSquare;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -1.56px;
    color: #ffffff;
}

#contents .banner .tit .title .strong{
    font-weight: 700;
}
#contents .banner .tit .subtitle{
    margin-top: 18px;
    font-family: NanumSquare;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.2px;
    text-align: left;
    color: #ffffff;
    opacity: 0.8;
}

#contents .banner .btn{
    position: relative;
    float:left;
    width:400px;
}

#contents .banner .btn .bg_txt{
    opacity: 0.5;
    font-family: 'GmarketSansBold';
    font-size: 140px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -4.2px;
    text-align: left;
    color: #1f1f5c;
}

#contents .banner .btn .item img:first-child{
    position: absolute;
    top: 100px;
    left: 24px;
    z-index: 10;
}
#contents .banner .btn .item img:nth-child(2){
    position: absolute;
    top: -16px;
    left: 91px;
    z-index: 5;
}
#contents .banner .btn .go_btn{
    position: absolute;
    margin-left: 175px;
    width: 225px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border: none;
    outline: 0 ;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 29px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #4c4c4c;
    z-index: 100;
}


#contents .banner .menu{
    float: right;
    position: relative;
    width: 700px;
    height: 255px;
    overflow: hidden;    
}

#contents .banner .menu .menubar{
    position: absolute;
    margin-top:20px;
    width: 1000px;
}

#contents .banner .menu .menubar .ban{
    float: left;
    width: 340px;
    border-radius: 80px 0 0 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #edf0f4 27%, #989898 80%);
}

#contents .banner .menu .menubar .ban:first-child{
    margin-left: 0;
    box-shadow: -40px 0 80px 0 #0d1953;
    position: absolute;
}

#contents .banner .menu .menubar .ban:nth-child(2){
    position: absolute;
    margin-left: 170px;
    z-index: 10;
}
#contents .banner .menu .menubar .ban:nth-child(3){
    position: absolute;
    margin-left: 340px;
    z-index: 20;
}
#contents .banner .menu .menubar .ban:nth-child(4){
    position: absolute;
    margin-left: 510px;
    z-index: 30;
}

#contents .banner .menu .menubar .ban a{
    width: 340px;
    height: 235px;
    border-radius: 80px 0 0 0;
    text-decoration: none;
}

#contents .banner .menu .menubar .ban a .txt{
    margin-top: 30px;
    margin-left: 38px;
}

#contents .banner .menu .menubar .ban a .txt h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.27;
    letter-spacing: -1.5px;
    color: #000000;
}

#contents .banner .menu .menubar .ban a .txt h5{
    margin-top: 7px;
    opacity: 0.6;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
    letter-spacing: -0.9px;
    text-align: left;
    color: rgba(38, 38, 38, 0.6);
}

#contents .banner .menu .menubar .ban .image{
    width: 175px;
    height: 175px;
    margin-top: 17px;
    margin-left: 40px; 
    text-align: center;
}






