@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2');
    src: url('https://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* body */
body{
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
}

#gnb{
    float:left;
    width: 120px;
    background-color: #4a4955;
}

#gnb .in{
    padding-top: 225px;
    padding-bottom: 230px; 
    width: 120px;
    text-align: center;
}

#gnb .in .menubar{
    margin: 0 25px;
}

#gnb .in .menubar .menu{
}

#gnb .in .menubar .menu:first-child .image{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.15);
}
#gnb .in .menubar .menu:first-child .inner img{
    padding-top: 18px;
}

#gnb .in .menubar .menu .inner a{
    display: block;
    height: 85px;
    margin-bottom: 50px;
    font-size: 0;
    text-decoration: none;
}

#gnb .in .menubar .menu:last-child .inner a{
    margin-bottom: 0px;
}
#gnb .in .menubar .menu .inner a .title{
    width:70px;
    height: 27px;
    margin-top: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

#gnb .in .menubar .menu:first-child .inner a .title{
    margin-top: -2px;
}

#contents{
    position:relative;
    float: left;
    width: 1800px;
    height: 1080px;
    overflow:hidden;
    font-size: 0;
}

#contents .order_area{
    position:relative;
    width: 1800px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.33);
    background: #f6f6f6; 
    /* z-index: 5; */
}

#contents .order_area .inner{
    width: 1800px;
    padding: 59px 0 30px 126px;
}

#contents .order_area .inner::after{
    content: '';
    display: block;
    clear: both;
}

#contents .order_area .inner .channel, #contents .order_area .inner .item, #contents .order_area .inner .price, .order_btn{
    float: left;
}

#contents .order_area .inner .channel img, #contents .order_area .inner .channel .name, #contents .order_area .inner .item .brand, #contents .order_area .inner .item .name{
    display: inline-block;
    font-size: 0;
}

#contents .order_area .inner .channel .name{
    margin-left: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#contents .order_area .inner .channel .underline{
    margin-top: 18px;
    margin-left: -16px;
    width: 260px;
    height: 8px;
    border-radius: 56px;
    background: #4c4c4c;
}

#contents .order_area .inner .item{
    margin-left: 126px;
}
#contents .order_area .inner .item .brand, #contents .order_area .inner .item .name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -3px;
    color: #4c4c4c;
}

#contents .order_area .inner .item .name{
    margin-left: 20px;
    font-weight: 500;
    letter-spacing: -2.8px;
}

#contents .order_area .inner .price{
    margin-left: 432px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -2.8px;
    color: #4c4c4c;
}

#contents .order_area .inner .order_btn{
    margin-left: 70px;
    width: 225px;
    height: 60px;
    border-radius: 38px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #f0f0f0;
    border: none;
    outline: 0 ;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 29px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #4c4c4c;
}

#contents .video_area{
    width: 1800px;
    text-align: center;
    background: linear-gradient(45deg, #1e9cea, #6b79d5);
}

#contents .video_area>img{
    margin-bottom: 50px;
}

#contents .video_area .full_screen_btn{
    position: absolute;
    bottom: 110px;
    right: 110px;
    border: none;
    outline: 0 ;
    cursor: pointer;
    background: none;
}

#contents .video_area .full_screen_btn .image{
    width: 86px;
    height: 86px;
    line-height: 86px;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #eb1313;
}

#contents .video_area .full_screen_btn .image img{
    vertical-align: middle;
}

#contents .lnb{
    position: absolute;
    top:0;
    left: -344px;
    overflow: hidden;
    width: 365px;
    height: 1080px;
    box-shadow: 2px 0 30px 0 rgba(0, 0, 0, 0.31);
    background-color: #e2e2ea;
    /* z-index: 10; */
}

#contents .lnb .home_btn{
    margin: 32px 25px 0;
    width: 315px;
    height: 112px;
    border-radius:56px;
    border: none;
    outline: 0 ;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #eb1313;
}

#contents .lnb .home_btn .inner{
    margin-left: 30px;
    text-align: left;
    font-size: 0;
}

#contents .lnb .home_btn .inner .image, #contents .lnb .home_btn .inner .txt{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    vertical-align:middle;
}

#contents .lnb .home_btn .inner .image img{
    line-height: 50px;
    vertical-align:middle;
}

#contents .lnb .home_btn .inner .txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-left:27px;
}

#contents .lnb .menubar{
    
    margin-top: 78px;
    margin-left: 56px;

}

#contents .lnb .menubar .menu{
    margin-bottom: 53px;
}

#contents .lnb .menubar .menu .btn{
    height: 40px;
    line-height: 40px;
    font-size: 0;
    border: none;
    outline: 0 ;
    cursor: pointer;
    background: transparent;
}

#contents .lnb .menubar .menu .btn .image,
#contents .lnb .menubar .menu .btn .title{
    display: inline-block;
    vertical-align: middle;
}

#contents .lnb .menubar .menu .btn .image img{
    vertical-align: middle;
}

#contents .lnb .menubar .menu .btn .title{
    margin-left: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}